@import "~bootstrap/scss/bootstrap";

$red:  #ca012d;
$black: #191919;
$white: #F2F2F2;

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-ExtraBold.ttf');
}

@mixin buttonSettings {
  background-color: $red;
  color: $white;
  border-radius: 0;
  height: 50px;
  width: 75px;
  font-family: 'Heebo';
}

@mixin title {
  color: $white;
  font-family: 'Heebo';
}

* {
  margin: 0px;
  padding: 0px;
}

body{
  margin: 20px;
  background: $black;
  color: $white;
}


header {
  div{
    display: flex;
    justify-content: space-between;
  }

  h1{
    color:$red;
  }

  input{
    align-self: stretch;
    width: 250px;
    height: 30px;
    border: 1px solid rgb(156, 156, 156);
    color: rgb(156, 156, 156);
    border-radius: 30px;
    font-size: 14px;
    background-color: $black;
    background-image:url('../images/search.png');
    background-size: 13px;
    background-position: 12px 7px;
    background-repeat: no-repeat;
    padding: 8px 20px 8px 32px;
    outline: none;
    opacity: 0.9;
  }

  a:hover{
    text-decoration: none;
  }
}

h1 {
  @include title();
  font-size: 35px;
}

h2{
  @include title();
  text-transform: uppercase;
  color:$red;
}

h3{
  @include title();
  font-size: 20px;
}

.text-red{
  color:$red;
}


.card {
  background: none;
  display: flex;
  justify-content: space-between;
  border: none;

  .card-img-top{
    height: 15vw;
    object-fit: cover;
  }

  a{
    @include title();
    padding-top: 10px;
    text-decoration: none;
    font-size: 20px;
  }

  .more-info {
    display: none;
  }
  &--hovered {
    .more-info{
      display: block;
    }
  }

}

.jumbotron {
  margin: 0 -1rem;
  min-height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;

  #buttonToWebsite{
    @include buttonSettings();
    width: 250px;
    text-align: left;
    padding: 1px 6px 1px 6px;
    padding-top: 13px;
    align-self: flex-end;
  }
}

.descriptionTitle {
  @include title();
}

.rectangleRouge{
  width: 150px;
  height: 11px;
  background-color: $red;
  margin-bottom: 15px;
}